{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>

        <p class="mt-4 text-center text-sm text-slate-400">
            Déjà un compte ?
            <a href="{{ path('app_login') }}" class="font-medium text-cyan-300 hover:text-cyan-200 underline underline-offset-2">Se connecter</a>
        </p>
    {{ form_end(registrationForm) }}
{% endblock %}
